<div *ngIf="currentUser" class="user-details">
  <mat-card class="example-card">
    <mat-card-header>
      <div [style.background-color]="currentUser.id | userColor" class="user-image" mat-card-avatar>
        {{currentUser.name[0]}}
      </div>
      <mat-card-title>{{currentUser.name}}</mat-card-title>
      <mat-card-subtitle>@{{currentUser.username}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <form class="form">

        <table class="full-width">
          <tr>
            <td>
              <mat-form-field appearance="fill" class="full-width">
                <mat-label>Company</mat-label>
                <input [value]="currentUser.company.name" disabled matInput>
              </mat-form-field>
            </td>
          </tr>
        </table>

        <table class="full-width">
          <tr>
            <td>
              <mat-form-field appearance="fill" class="full-width">
                <mat-label>Name</mat-label>
                <input [value]="currentUser.name" disabled matInput>
              </mat-form-field>
            </td>
          </tr>
        </table>

        <table class="full-width">
          <tr>
            <td>
              <mat-form-field appearance="fill" class="full-width">
                <mat-label>Address</mat-label>
                <input [value]="currentUser.address.suite + ', ' + currentUser.address.street"
                       disabled matInput>
              </mat-form-field>
            </td>
          </tr>
        </table>

        <table class="full-width">
          <tr>
            <td>
              <mat-form-field appearance="fill" class="full-width">
                <mat-label>City</mat-label>
                <input [value]="currentUser.address.city" disabled matInput>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field appearance="fill" class="full-width">
                <mat-label>Postal Code</mat-label>
                <input [value]="currentUser.address.zipcode" disabled matInput>
              </mat-form-field>
            </td>
          </tr>
        </table>
      </form>
    </mat-card-content>
    <mat-card-actions align="end">
      <div matTooltip="This action will be available soon!">
        <button disabled mat-raised-button>Update information</button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
