.table-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-x: auto;
  padding: 92px;
  box-sizing: border-box;

  .table-filter {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;

    .mat-form-field {
      width: 400px;
    }
  }

  .mat-form-field-appearance-fill .mat-form-field-fill {
    color: white;
  }

  input.mat-input-element {
    color: white;
  }

  .mat-table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    display: table;
    border-collapse: collapse;
  }

  .mat-row,
  .mat-header-row {
    display: table-row;
  }

  .mat-cell,
  .mat-header-cell {
    word-wrap: initial;
    display: table-cell;
    line-break: unset;
    width: auto;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
  }

  .loader {
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
  }


  .users-table {
    border-radius: 10px;
    overflow: hidden !important;
    background: white;

    th.mat-sort-header-sorted {
      color: black;
    }

    .table-row {
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        background-image: linear-gradient(to right, #ECE9E6 0%, #FFFFFF 51%, #ECE9E6 100%);

      }

      &.odd {
        background-image: linear-gradient(to right, #ECE9E6 0%, #FFFFFF 51%, #ECE9E6 100%);
      }

      &.even {
        background-color: #fff;
      }

      td.mat-cell, td.mat-footer-cell {
        border: none !important;
        color: grey;
      }
    }

    .table-header {
      height: 60px;
      background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);

      .mat-header-cell {
        color: white;
        min-width: 175px;
        padding-right: 0 !important;
        font-size: 14px;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .table-container {
    flex-wrap: wrap;
  }
}


