<!--
<div class="users-container">
  <ng-container *ngFor="let user of users">
    <div class="cards">
      <convelio-user-item [user]="user"></convelio-user-item>
    </div>
  </ng-container>
</div>
-->
<div class="users-container">
  <div *ngIf="isLoading" class="loader">
    <mat-progress-spinner class="mat-spinner-color" color="primary" mode="indeterminate"></mat-progress-spinner>
  </div>

  <ng-container *ngIf="!isLoading">
    <mat-form-field [color]="'warn'" [hideRequiredMarker]="true" appearance="fill">
      <mat-label>Filter</mat-label>
      <input #input (keyup)="applyFilter($event)" matInput placeholder="Ex. Bret">
    </mat-form-field>
    <table (matSortChange)="sortData($event)" [dataSource]="dataSource" class="users-table" mat-table matSort>
      <!-- Position Column -->
      <ng-container matColumnDef="name">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Name</th>
        <td *matCellDef="let row" mat-cell> {{row.name}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="username">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Username</th>
        <td *matCellDef="let row" mat-cell>{{ row.username }}</td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="city">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>City</th>
        <td *matCellDef="let row" mat-cell>{{ row?.address?.city }}</td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="company">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Company name</th>
        <td *matCellDef="let row" mat-cell>{{ row?.company?.name }}</td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns" class="table-header" mat-header-row></tr>
      <tr
        (click)="seeUserDetails(row)"
        *matRowDef="let row; columns: displayedColumns; let i = index"
        [class.even]="i % 2 === 0"
        [class.odd]="i % 2 !== 0"
        class="table-row"
        mat-row
      ></tr>    <!-- Row shown when there is no matching data. -->
      <tr *matNoDataRow class="mat-row">
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>
  </ng-container>
</div>
