.table-container {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 90%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  overflow-x: auto;

  .mat-form-field {
    width: 90%;
  }

  /* Border */
  .mat-form-field-appearance-fill .mat-form-field-fill {
    color: white;
  }

  /* Font color */
  input.mat-input-element {
    color: white;
  }

  .mat-table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    display: table;
    border-collapse: collapse;
  }

  .mat-row,
  .mat-header-row {
    display: table-row;
  }

  .mat-cell,
  .mat-header-cell {
    word-wrap: initial;
    display: table-cell;
    line-break: unset;
    width: auto;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
  }

  .loader {
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
  }


  .users-table {
    width: 90%;
    border-radius: 10px;
    overflow: hidden !important;
    background: white;

    th.mat-sort-header-sorted {
      color: black;
    }

    .table-row {
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        background: #f5f5f5 !important;
      }

      &.odd {
        background-color: #f5f5f5;
      }

      &.even {
        background-color: #fff;
      }

      td.mat-cell, td.mat-footer-cell {
        border: none !important;
        color: grey;
      }
    }

    .table-header {
      height: 60px;
      background: #36304a;

      .mat-header-cell {
        color: white;
        min-width: 175px;
        padding-right: 0 !important;
      }
    }
  }
}
