.not-found-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 80px;
  min-height: 463px;

  .empty-data-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: inherit;
    padding-top: 20px;

    h1, p {
      color: #fff;
      padding-bottom: 12px;
    }
  }
}
